---
import Layout from '../layouts/Layout.astro'
import * as tailyUI from 'taily-ui'

const month = new Date().getMonth()
const day = new Date().getDate()
const year = new Date().getFullYear()
const monthNames = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December'
]
function getDate(date: Date) {
    return [date.getDate().toString(), monthNames[date.getMonth()], date.getFullYear().toString()]
}
export async function getStaticPaths() {
    return [undefined, 'default', 'primary', 'secondary', 'success', 'warning', 'error', 'ghost'].map((theme) => ({
        params: { theme }
    }))
}
const { theme } = Astro.params
const colorTheme = (theme as 'default' | 'primary' | 'secondary' | 'success' | 'warning' | 'error' | 'ghost') ?? 'ghost'
---

<Layout
    title="Welcome to Scripty"
    description="Practice-oriented educational platform for everyone who wants to learn JavaScript & WebDev."
    keywords="comp sci, computer science, computer scientist, bsc computer science, bs computer science, bsc cs, bscs degree, computing courses, computer science engineering, computer science degree, computer science course, master's degree in computer science, cs degree, master's in computer science, online computer science degree, online cs degree, online computer science bachelor's degree, computer science online programs, bachelor's in computer science, bachelor's degree in computer science, b tech computer science, btech in computer science, cs course, b tech computer science and engineering, online master's computer science"
    url="https://scripty.by.nikdelv.in/"
    imageUrl="https://nikdelv.in/projects/scripty.jpg"
    brand="Scripty"
    color={colorTheme}
>
    <main class="select-none overflow-hidden">
        <fragment
            set:html={tailyUI.OpenSourcePromo({
                logo: 'M4.5618 21.1397c.3257-.9866.646-1.9556.9582-2.901.3014.0379.5471.073.8771.1118 1.3267.232 2.6604.3768 4.0089.3464 1.6877-.0382 3.3594-.2203 4.9935-.653 1.2821-.3395 2.4954-.8454 3.5445-1.6835.6983-.5575 1.2866-1.2096 1.6693-2.0266.3171-.6775.4575-1.3931.4416-2.1419-.0194-.9033-.2643-1.7395-.718-2.5182-.5674-.9747-1.3655-1.7167-2.3207-2.2974-.8473-.5152-1.7664-.8522-2.7306-1.0736C13.5115 5.8952 11.7101 5.7902 9.8977 5.8178c-.5289.0082-1.0532.0749-1.5645.2212-.2788.0798-.5333.2029-.7422.4112-.3524.3521-.3201.8152.0838 1.1056.2827.2031.6159.2592.9492.304 1.0363.1404 2.0803.1001 3.1214.1193.8551.0155 1.71.0439 2.5511.2119.8297.1656 1.6038.4636 2.2387 1.0457.692.6341 1.0789 1.4057.9951 2.3648-.0587.6721-.3813 1.2153-.8719 1.6647-.5588.5111-1.2395.78-1.9583.965-.9918.2556-2.0021.3473-3.0236.3008-1.0702-.0486-2.1428-.0793-3.2089-.1778-1.2471-.1151-2.4627-.4119-3.6615-.7746-1.0074-.3043-1.941-.7528-2.7698-1.4019-.6945-.544-1.25-1.209-1.5851-2.0326-.3025-.7441-.3789-1.5195-.2169-2.31.2506-1.2213.9144-2.2006 1.8049-3.0431 1.0064-.9519 2.2123-1.5558 3.5075-2.0039.9834-.3402 1.9973-.5478 3.0272-.6755 1.458-.1809 2.9219-.2451 4.3899-.1587.4969.0294.9928.0752 1.46.1111l-.1187.9563c-.4309-.0356-.8532-.0762-1.2763-.1048-1.8221-.1238-3.6316-.0214-5.4219.3445-.9718.1983-1.9005.531-2.7627 1.0275-.9033.5205-1.6514 1.2054-2.1282 2.1454-.5214 1.0291-.5506 2.0615.0473 3.0807.3566.6081.8696 1.0534 1.4599 1.4187.8133.5037 1.7174.7668 2.6379.9848 1.3719.3245 2.7686.4417 4.1725.4873.8242.0268 1.6501.0469 2.465-.1118.4301-.084.8632-.1721 1.2293-.4398.6503-.4759.6642-1.2449.029-1.7487-.3457-.274-.7594-.3687-1.1832-.4295-1.119-.1607-2.247-.1178-3.3722-.1402-.86-.0172-1.7193-.0502-2.5648-.2244-.5853-.1208-1.142-.3201-1.611-.7072-.8045-.664-.9025-1.7033-.2425-2.5127.5186-.6359 1.2139-.978 1.9872-1.1837.8553-.2275 1.729-.3019 2.6108-.2954 1.3541.0098 2.7058.0545 4.0475.2638 1.5551.2423 3.069.6166 4.4705 1.3607 1.0141.5386 1.9281 1.2085 2.7061 2.0594.6876.7521 1.2235 1.5972 1.5794 2.5519.3527.9463.4946 1.9273.4292 2.9359-.0591.9103-.3112 1.7654-.743 2.5682-.4545.8449-1.0607 1.5704-1.7897 2.1856-.7108.5996-1.4798 1.1196-2.3269 1.5149-1.1808.5509-2.4103.951-3.6921 1.1882-1.3061.2419-2.6134.4677-3.9453.5046-1.7325.0483-3.4558-.0272-5.1633-.3496-.4556-.086-.9125-.1678-1.3918-.2557',
                title: 'Scripty',
                color: colorTheme,
                text: [
                    { type: 'default', value: 'Create' },
                    { type: 'primary', value: 'beautiful' },
                    {
                        type: 'default',
                        value: 'web apps with exemplified lessons and interactive JavaScript'
                    },
                    { type: 'secondary', value: 'playgrounds' }
                ],
                description:
                    'Practice-oriented educational platform for everyone who wants to learn JavaScript & WebDev.',
                button: {
                    title: 'Try sandbox',
                    link: '#kpi'
                },
                github: 'https://github.com/nikdelvin/scripty'
            })}
        />
        <fragment
            id="kpi"
            set:html={tailyUI.KPICards({
                title: 'Deep dive into',
                color: colorTheme,
                cards: [
                    { title: 'JS', description1: 'language', description2: 'specification' },
                    { title: 'Web', description1: 'frameworks', description2: 'nutshell' },
                    { title: 'Git', description1: 'command line', description2: 'tools' },
                    { title: 'CI', description1: 'serverless', description2: 'deployment' }
                ],
                button: {
                    title: 'Glance into abyss',
                    link: '/'
                }
            })}
        />
        <fragment
            id="features"
            set:html={tailyUI.FeatureCards({
                title: 'Everyone can learn',
                color: colorTheme,
                reverse: false,
                featureTitle: 'JavaScript',
                featureDescription: [
                    { type: 'default', value: 'But only' },
                    { type: 'primary', value: 'few' },
                    { type: 'default', value: 'are chosen to' },
                    { type: 'primary', value: 'look' },
                    { type: 'default', value: 'under the hood' }
                ],
                featureOptions: [
                    'More than 100 practice-oriented lessons about JS, popular Web Frameworks, libraries, and dev tools',
                    '10 example projects that explain a deep nutshell of frameworks such as React, Next.JS, Astro.JS, Svelte, Vue.JS, Nuxt.JS & vanilla Javascript bit by bit',
                    'Deep dive tutorials into command line tools and CI/CD deployment with Git, Docker, and Jenkins'
                ],
                button: {
                    title: 'Сross the line',
                    link: '#features_2'
                }
            })}
        />
        <fragment
            id="features_2"
            set:html={tailyUI.FeatureCards({
                title: 'The only way to do',
                color: colorTheme,
                reverse: true,
                featureTitle: 'Great work',
                featureDescription: [
                    { type: 'default', value: 'Is to fall in' },
                    { type: 'secondary', value: 'love' },
                    { type: 'default', value: 'with the things that you are' },
                    { type: 'secondary', value: 'doing' }
                ],
                featureOptions: [
                    'Feature-rich coding playground built especially to test your skills in the most popular code practices',
                    "Tailored roadmaps to guide you through your path from intern to senior, based on your goals, whether it's front-end, back-end, or full-stack development",
                    'Connect with fellow learners, ask questions, share your progress, and get help from experienced devs'
                ],
                button: {
                    title: 'Make the first step',
                    link: '#stages'
                }
            })}
        />
        <fragment
            id="stages"
            set:html={tailyUI.Jobs({
                title: 'Project roadmap',
                color: colorTheme,
                jobs: [
                    {
                        from: getDate(new Date()),
                        to: getDate(new Date(Date.now() + 3 * 30 * 24 * 60 * 60 * 1000)),
                        title: 'Phase I: Knowledge foundation',
                        description: [
                            { type: 'default', value: 'JavaScript' },
                            { type: 'primary', value: 'fundamentals,' },
                            { type: 'default', value: 'front-end' },
                            { type: 'primary', value: 'basics' }
                        ],
                        role: [
                            'Introduction to core concepts of JavaScript language including variables, data types, operators, control flow, functions & objects',
                            'Basics of HTML 5, CSS 3, and concepts of how to build basic web pages, understanding of DOM and how JavaScript interacts with it',
                            'Tailwind CSS, Bootstrap 5, Sass & PostCSS tutorials to understand advanced methods of web pages and web applications stylization'
                        ]
                    },
                    {
                        from: getDate(new Date(Date.now() + (3 * 30 + 1) * 24 * 60 * 60 * 1000)),
                        to: getDate(new Date(Date.now() + (6 * 30 + 1) * 24 * 60 * 60 * 1000)),
                        title: 'Phase II: Framework exploration',
                        description: [
                            { type: 'default', value: 'Fundamentals of' },
                            { type: 'primary', value: 'React' },
                            { type: 'default', value: '& other' },
                            { type: 'primary', value: 'frameworks' }
                        ],
                        role: [
                            'Basics of React web framework including components, props, state & JSX. Detailed tutorial for building a simple React application',
                            'Introduction to other popular frameworks like Next.JS, Vue.JS, and Svelte. Understand their core concepts and build basic applications',
                            '1 code project to learn how to use only vanilla JavaScript to solidify your understanding of language without relying on frameworks'
                        ]
                    },
                    {
                        from: getDate(new Date(Date.now() + (6 * 30 + 2) * 24 * 60 * 60 * 1000)),
                        to: getDate(new Date(Date.now() + (9 * 30 + 2) * 24 * 60 * 60 * 1000)),
                        title: 'Phase III: Server-side advantage',
                        description: [
                            { type: 'default', value: 'Introduction to' },
                            { type: 'primary', value: 'back-end' },
                            { type: 'default', value: 'with' },
                            { type: 'primary', value: 'Node.JS' }
                        ],
                        role: [
                            'Lessons to explore server-side JavaScript with Node.js and learn about APIs, databases, and building a simple backend application',
                            'Basics of work with Postman, Insomnia, Swagger, and other tools for developing API documentation, back-end testing environment',
                            'Utilization tools of Scripty coding playground to practice and refine your skills with challenges such as code katas and daily tasks'
                        ]
                    },
                    {
                        from: getDate(new Date(Date.now() + (9 * 30 + 3) * 24 * 60 * 60 * 1000)),
                        to: getDate(new Date(Date.now() + (12 * 30 + 3) * 24 * 60 * 60 * 1000)),
                        title: 'Phase IV: Deployment & community',
                        description: [
                            { type: 'default', value: 'CI/CD setup for your' },
                            { type: 'primary', value: 'first' },
                            { type: 'default', value: 'full-stack' },
                            { type: 'primary', value: 'project' }
                        ],
                        role: [
                            '10 practice-oriented lessons to learn how to automate the building, testing, and deployment of your applications using CI/CD tools',
                            '2 code projects to learn how to combine your front-end and back-end knowledge to create and deploy a complete web application',
                            'Chats integration to give users ability to join community forums, connect with other learners, ask questions & share their projects'
                        ]
                    }
                ]
            })}
        />
        <fragment
            id="footer"
            set:html={tailyUI.Footer({
                color: colorTheme,
                blocks: [
                    {
                        title: 'About creator',
                        text: [
                            { type: 'default', value: `Hi, I'm` },
                            { type: 'primary', value: 'Nikita Stadnik' },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: `I'm a passionate and ambitious` },
                            { type: 'primary', value: 'Fullstack Web Developer' },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'My love is' },
                            { type: 'primary', value: 'developing' },
                            { type: 'default', value: 'cross-platform applications from zero to production' },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: `I've mastered` },
                            { type: 'primary', value: 'T-shaped skills' },
                            { type: 'default', value: `that help me work solo on my own big projects` }
                        ]
                    },
                    {
                        title: 'Contacts',
                        text: [
                            { type: 'default', value: 'Email:' },
                            {
                                type: 'primary',
                                value: 'the@nikdelv.in',
                                link: 'mailto:the@nikdelv.in',
                                newPage: true
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'Github:' },
                            {
                                type: 'primary',
                                value: '@nikdelvin',
                                link: 'https://github.com/nikdelvin',
                                newPage: true
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'DEV Blog:' },
                            { type: 'primary', value: '@nikdelvin', link: 'https://dev.to/nikdelvin', newPage: true },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'Behance:' },
                            {
                                type: 'primary',
                                value: '@nikdelvin',
                                link: 'https://www.behance.net/nikdelvin',
                                newPage: true
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'Telegram:' },
                            { type: 'primary', value: '@nikdelvin', link: 'https://t.me/nikdelvin', newPage: true },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'LinkedIn:' },
                            {
                                type: 'primary',
                                value: '@nikdelvin',
                                link: 'https://www.linkedin.com/in/nikdelvin',
                                newPage: true
                            }
                        ]
                    },
                    {
                        title: 'Projects',
                        text: [
                            { type: 'primary', value: 'TailyUI', link: 'https://tailyui.by.nikdelv.in', newPage: true },
                            {
                                type: 'default',
                                value: '<br/>Modern UI Library 100% built and animated with pure Tailwind CSS'
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: 'Brodly', link: 'https://brodly.by.nikdelv.in', newPage: true },
                            {
                                type: 'default',
                                value: '<br/>High-secure and fully anonymous live-streaming platform for everyone'
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: 'Neuroly', link: 'https://neuroly.by.nikdelv.in', newPage: true },
                            { type: 'default', value: '<br/>STT and voice synthesis AI chatbot' }
                        ]
                    },
                    {
                        title: 'Coming soon',
                        text: [
                            { type: 'primary', value: 'Scripty', link: 'https://scripty.by.nikdelv.in', newPage: true },
                            {
                                type: 'default',
                                value: '<br/>Practice-oriented educational platform to learn JavaScript'
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: 'Feelicy', link: 'https://feelicy.by.nikdelv.in', newPage: true },
                            {
                                type: 'default',
                                value: '<br/>Mind mapping and goal planning service in game format of Garden Sim'
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            {
                                type: 'primary',
                                value: 'Scientry',
                                link: 'https://scientry.by.nikdelv.in',
                                newPage: true
                            },
                            { type: 'default', value: '<br/>Data management & visualization tool' }
                        ]
                    },
                    {
                        title: 'Experience',
                        text: [
                            {
                                type: 'primary',
                                value: `17.05.22 - ${String(day).padStart(2, '0')}.${String(month + 1).padStart(2, '0')}.${String(year).slice(2)}:`
                            },
                            { type: 'default', value: 'BSO Real Estate Management.' },
                            { type: 'primary', value: 'Role:' },
                            { type: 'default', value: 'Team leader / DevOps / Backend developer.' },
                            { type: 'primary', value: 'Product:' },
                            { type: 'default', value: 'Cross-platform mobile app, internal ERP system.' },
                            { type: 'primary', value: 'Info', link: 'https://bso.ae', newPage: true },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: '19.01.21 - 11.05.22:' },
                            { type: 'default', value: 'WhatCRM by LifeTelecom.' },
                            { type: 'primary', value: 'Role:' },
                            { type: 'default', value: 'Frontend Next.JS / React web developer.' },
                            { type: 'primary', value: 'Product:' },
                            { type: 'default', value: 'Custom WhatsApp Web client as an integration for CRMs.' },
                            { type: 'primary', value: 'Info', link: 'https://whatcrm.net/en', newPage: true },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: '25.05.19 - 13.01.21:' },
                            { type: 'default', value: 'Unistroy Construction.' },
                            { type: 'primary', value: 'Role:' },
                            { type: 'default', value: 'Fullstack React / Python web developer.' },
                            { type: 'primary', value: 'Product:' },
                            { type: 'default', value: 'Big-data service for analyzing counterparties affiliations.' },
                            {
                                type: 'primary',
                                value: 'Info',
                                link: 'https://github.com/nikdelvin/affiliation-checker',
                                newPage: true
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'Total time on development "battlefield":' },
                            {
                                type: 'primary',
                                value: `${Math.floor((Date.now() - Date.parse('25 May 2019 00:00:00 GMT')) / (1000 * 60 * 60 * 24) / 365)}`
                            },
                            { type: 'default', value: 'years and' },
                            {
                                type: 'primary',
                                value: `${Math.floor(((Date.now() - Date.parse('25 May 2019 00:00:00 GMT')) / (1000 * 60 * 60 * 24)) % 365)}`
                            },
                            { type: 'default', value: 'days' }
                        ]
                    },
                    {
                        title: 'Skills',
                        text: [
                            { type: 'primary', value: 'Languages:' },
                            { type: 'default', value: 'JavaScript, TypeScript, HTML 5, CSS 3, Python, Java, Swift' },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: 'Frameworks:' },
                            {
                                type: 'default',
                                value: 'React, Solid, Astro, Next, Svelte, Vue, Nuxt, Nest, Electron, Flask'
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: 'Libraries:' },
                            {
                                type: 'default',
                                value: 'Bootstrap, Tailwind, Formik, Redux, Recoil, GSAP, Framer, Three.JS'
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'And more other deeply learned' },
                            { type: 'primary', value: 'tools', link: '#skills' }
                        ]
                    },
                    {
                        title: 'Articles',
                        text: [
                            { type: 'primary', value: '04.08.20:' },
                            {
                                type: 'default',
                                value: 'Modified genetic algorithm to solve 3d packaging problem.'
                            },
                            {
                                type: 'primary',
                                value: 'Read',
                                link: 'https://ceur-ws.org/Vol-2667/paper21.pdf',
                                newPage: true
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: '24.12.21:' },
                            {
                                type: 'default',
                                value: 'Auto-optimization system for product manufacturing workflow.'
                            },
                            {
                                type: 'primary',
                                value: 'Read',
                                link: 'https://ieeexplore.ieee.org/document/9649154',
                                newPage: true
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: '03.11.23:' },
                            { type: 'default', value: 'Comprehensive simulation model of city transport network.' },
                            {
                                type: 'primary',
                                value: 'Read',
                                link: 'https://ieeexplore.ieee.org/document/10303830',
                                newPage: true
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'Researches open-source repo:' },
                            {
                                type: 'primary',
                                value: 'GitHub',
                                link: 'https://github.com/nikdelvin/research-projects',
                                newPage: true
                            }
                        ]
                    }
                ]
            })}
        />
    </main>
</Layout>
<style is:global>
    :root::-webkit-scrollbar {
        display: none !important;
    }
    :root::-webkit-scrollbar-thumb {
        background-color: transparent !important;
    }
    :root::-webkit-scrollbar-track {
        background-color: transparent !important;
    }
    .overflow-x-scroll::-webkit-scrollbar {
        display: none !important;
    }
    .overflow-x-scroll::-webkit-scrollbar-thumb {
        background-color: transparent !important;
    }
    .overflow-x-scroll::-webkit-scrollbar-track {
        background-color: transparent !important;
    }
</style>
