---
import Layout from '../layouts/Layout.astro'
import tailyUI from 'taily-ui'
---

<Layout
    title="Welcome to Scripty"
    description="Practice-oriented educational platform for everyone who wants to learn JavaScript & WebDev."
>
    <main class="select-none overflow-hidden">
        <fragment
            set:html={tailyUI.OpenSourcePromo({
                logo: '/favicon.svg',
                title: 'Scripty',
                color: 'ghost',
                text: [
                    { type: 'default', value: 'Create' },
                    { type: 'primary', value: 'beautiful' },
                    {
                        type: 'default',
                        value: 'web applications with exemplified lessons and interactive JavaScript'
                    },
                    { type: 'secondary', value: 'playgrounds' }
                ],
                description:
                    'Practice-oriented educational platform for everyone who wants to learn JavaScript & WebDev.',
                button: {
                    title: 'Try sandbox',
                    link: '#kpi'
                },
                github: 'https://github.com/nikdelvin/scripty'
            })}
        />
        <fragment
            id="kpi"
            set:html={tailyUI.KPICards({
                title: 'Deep dive into',
                color: 'ghost',
                cards: [
                    { title: 'JS', description1: 'language', description2: 'specification' },
                    { title: 'Web', description1: 'frameworks', description2: 'nutshell' },
                    { title: 'Git', description1: 'command line', description2: 'tools' },
                    { title: 'CI', description1: 'serverless', description2: 'deployment' }
                ],
                button: {
                    title: 'Glance into abyss',
                    link: '/'
                }
            })}
        />
    </main>
</Layout>
